* {
  font-family: "Inter", sans-serif;
  color: #444444;
  box-sizing: border-box;
  background-image: url(./back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  background: none;
  color: rgb(12, 181, 0);
}
#pay {
  background: none;
  color: white;
}

input {
  box-shadow: none;
  display: block;
  font-size: 16px;
}
select {
  font-size: 16px;
}

button {
  border: none;
}

.page-container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.48px;
  margin-bottom: 18px;
}

.subtitle {
  font-size: 15px;
  margin-bottom: 64px;
}

.input {
  border-radius: 18px;
  border: 1px solid #dcdcdc;
  background: #ffffff;
  width: 340px;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 24px;
}

.button {
  width: 340px;
  height: 50px;
  border-radius: 18px;
  background: #6e51e0;
  color: white;
  font-size: 15px;
  font-weight: 700;
}
